@media (max-width : 768px) {
    .all{
        display: none;
    }
    .mobile-calculator{
        display: block !important;
    }
    .boxes,.ops{
        font-size: 6vw;
    }

    .numbs{
        font-size: 9vw !important;
    }
}

@media (min-width : 768px) {
    .boxes{
        font-size: 51px;
    }

    .ops{
        font-size: 30px;
    }

    textarea{
        padding-left: 77px !important;
        padding-top: 50px;
    }
}

.boxes {
    color: white;
    background-color: #0c2634;
    text-align: center;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md-6,
.col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.mobile-calculator{
    display: none;
}

.all,.mobile-calculator {
    position: fixed;
    left: 0;
    right: 0;
}

.all{
    bottom: 0;
}

.mobile-calculator{
    bottom: -8px;
}

textarea {
    font-size: 4rem;
    font-weight: 400;
    height: 290px;
    border: 0;
}

textarea:focus {
    outline: 0 !important;
}

button.col-md-2 {
    color: #ff9900;
    border: 1px solid gray;
    padding-bottom: 20px;
    font-size: 30px;
}

#reset {
    background-color: #ff2e77;
    color: #fff;
}

.ops {
    color: #fff;
    background-color: #0c2634;
    height: 78px;
    line-height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid gray;
}

button:focus {
    outline: 0;
}

svg {
    margin-bottom: 10px;
}

#turner {
    display: none;
    position: absolute;
    right: 76px;
    color: black;
    font-size: 26px;
}

#delete {
    background-color: #006ea8;
}